<%- include('./layouts/header') %>

<h1 class="title">User management with RBAC</h1>
<div class="tutorial-info">
  <div class="title2"><b>What we have implemented</b></div>
  <ul class="tutorial-info">
    <li><b>Express JS </b></li>
    <li><b>EJS</b> templating engine</li>
    <li>
      <b>Styling — </b>custom CSS
    </li>
    <li><b> PassportJS </b>local authentication(email, password)</li>
    <li><b>Roles</b> (admin, moderator, client)</li>
    <li><b>Authorization</b> (admin, moderator and user routes)</li>
    <li><b>Mongoose</b> (ORM for MongoDB)</li>
    <li><b>Express sessions</b></li>
    <li>
      Using sessions to <b>persist login </b> after server reboot (using Mongo
      Store)
    </li>
    <li><b>Validating</b> user input server side</li>
    <li><b>Flash messages</b></li>
    <li>Handling <b>HTTP error</b> (ex: 404, etc)</li>
  </ol>
</div>

<%- include('./layouts/footer') %>
